<a href="https://colab.research.google.com/github/iammiori/DataAnalysisAndPractice/blob/master/clean_yelp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
!pip install ijson

Collecting ijson
  Downloading https://files.pythonhosted.org/packages/e6/b5/5c17ebf57e959aca79072a07a758c6d700f9e528daf3c7aea410b5daed2b/ijson-2.5-cp36-cp36m-manylinux1_x86_64.whl (60kB)
     |████████████████████████████████| 61kB 26.4MB/s
Installing collected packages: ijson
Successfully installed ijson-2.5

In [0]:
with open("/content/gdrive/My Drive/review.json",encoding="UTF-8") as json_file:

In [0]:
import time
import datetime
import json,csv

headers = True
filein = "/content/gdrive/My Drive/user.json"
fileout = "/content/gdrive/My Drive/user3.csv"

with open(filein,encoding="UTF-8") as jsonf, open(fileout,"w") as csvf:
    for line in jsonf:
        data = json.loads(line)
        #data.pop("review_count")
        data.pop("yelping_since")
        data.pop("friends")
        data.pop("useful")
        data.pop("funny")
        data.pop("cool")
        data.pop("fans")
        data.pop("elite")
        data.pop("average_stars")
        data.pop("compliment_hot")
        data.pop("compliment_more")
        data.pop("compliment_profile")
        data.pop("compliment_cute")
        data.pop("compliment_list")
        data.pop("compliment_note")
        data.pop("compliment_plain")
        data.pop("compliment_cool")
        data.pop("compliment_funny")
        data.pop("compliment_writer")
        data.pop("compliment_photos")
        
        if headers:
            keys = []
            for k,v in data.items():
                keys.append(k)
            writer = csv.DictWriter(csvf,fieldnames=keys)
            writer.writeheader()
            headers = False
        if data['review_count']>=1457:
            # user top 500보기 위해 1457 에서 컷
            writer.writerow(data)

In [70]:
import pandas as pd
user = pd.read_csv("/content/gdrive/My Drive/user3.csv")
user.head()

                  user_id     name  review_count
0  zzpgpo54-_P-4rzzBtOuLQ  Aurélie          1563
1  eSlOI3GhroEtcbaD_nFXJQ    Jason          2518
2  U4INQZOPSUaj8hMjLlZ3KA  Michael          4308
3  XkLK2iBsgqF6mWwDfRgqqQ    Seong          1525
4  lConjPFTZqz4zWELK_EJtw    Keila          2097

In [0]:
user = user.sort_values(["review_count"],ascending=[False]).reset_index(drop=True)

In [72]:
user.head()

                  user_id    name  review_count
0  8k3aO-mPeyhbR5HUucA5aA  Victor         13278
1  RtGqdDBvvBCjcu5dUqwfzA   Shila         12390
2  hWDybu_KvYLSdEFzGrniTw   Bruce         10022
3  P5bUL3Engv-2z6kKohB6qQ     Kim          9821
4  8RcEwGrFIgkt9WQ35E6SnQ  George          7750

In [0]:
user.to_csv("/content/gdrive/My Drive/user3.csv",index=False)

In [74]:
user_df = pd.read_csv("/content/gdrive/My Drive/user3.csv")
user_df.shape

(500, 3)

In [75]:
user_df.head()

                  user_id    name  review_count
0  8k3aO-mPeyhbR5HUucA5aA  Victor         13278
1  RtGqdDBvvBCjcu5dUqwfzA   Shila         12390
2  hWDybu_KvYLSdEFzGrniTw   Bruce         10022
3  P5bUL3Engv-2z6kKohB6qQ     Kim          9821
4  8RcEwGrFIgkt9WQ35E6SnQ  George          7750

In [76]:
user_id_list = []
for i in range(len(user_df)):
    tmp = user_df["user_id"].iloc[i]
    user_id_list.append(tmp)
len(user_id_list)

500

In [77]:
user_name_list = []
for i in range(len(user_df)):
    tmp = user_df["name"].iloc[i]
    user_name_list.append(tmp)
len(user_name_list)

500

## review 클렌징

In [79]:
import time
import datetime
import json,csv

headers = True
filein = "/content/gdrive/My Drive/review.json"
fileout = "/content/gdrive/My Drive/review_top.csv"

with open(filein,encoding="UTF-8") as jsonf, open(fileout,"w") as csvf:
    for line in jsonf:
        data = json.loads(line)
        # 필요없는 key값삭제하면서 나중에 읽어올때, 시간 절약
        data.pop("review_id")
        data.pop("date")
        data.pop("text")
        data.pop("useful")
        data.pop("funny")
        data.pop("cool")
        
        
        if headers:
            keys = []
            for k,v in data.items():
                # key 값은 column 으로 value 는 값으로 저장
                keys.append(k)
            writer = csv.DictWriter(csvf,fieldnames=keys)
            writer.writeheader()
            headers = False
            
        if data["user_id"] in user_id_list:
            index_num = user_id_list.index(data["user_id"])
            data["user_id"] = user_name_list[index_num]
            writer.writerow(data)

print("success")

success

In [80]:
review_df = pd.read_csv( "/content/gdrive/My Drive/review_top.csv")
review_df.shape

(58015, 3)

In [84]:
review_df.head()

    user_id             business_id  stars
0      Chad  N2PlDjUJVfOJzsPzY0Au1w    3.0
1      Chad  WMj5Uj04pAqFxLMnJQcQqw    3.0
2   Margret  h6t-dQ1udLHs0ogBFAAPGw    3.0
3   Shannon  YF4QJ_j-PM7cMZja6K1MwQ    2.0
4  Jennifer  wuBGY61_1-udSHUrOkM82w    4.0

In [97]:
store_id_list = []
for i in range(len(review_df)):
    tmp = review_df["business_id"].iloc[i]
    store_id_list.append(tmp)
len(store_id_list)

58015

In [98]:
store_id_list[:5]

['N2PlDjUJVfOJzsPzY0Au1w',
 'WMj5Uj04pAqFxLMnJQcQqw',
 'h6t-dQ1udLHs0ogBFAAPGw',
 'YF4QJ_j-PM7cMZja6K1MwQ',
 'wuBGY61_1-udSHUrOkM82w']

빠른 검색을 위한 중복제거

In [99]:
store_id_list_clean = list(set(store_id_list))
len(store_id_list_clean)

28299

In [100]:
import json,csv

headers = True
filein = "/content/gdrive/My Drive/business.json"
fileout = "/content/gdrive/My Drive/business_clean.csv"
with open(filein,encoding="UTF-8") as jsonf, open(fileout,"w") as csvf:
    for line in jsonf:
        data = json.loads(line)
        #print(data)
        data.pop("address")
        data.pop("city")
        data.pop("state")
        data.pop("postal_code")
        #data.pop("review_count")
        data.pop("latitude")
        data.pop("longitude")
        data.pop("stars")
        data.pop("is_open")
        data.pop("attributes")
        data.pop("categories")
        data.pop("hours")
        
        
        if headers:
            keys = []
            # k : key 값 v : value 값
            for k,v in data.items():
                #print("{} {} ".format(k,v))
                keys.append(k)
            writer = csv.DictWriter(csvf,fieldnames=keys)
            # column 을 key값으로
            writer.writeheader()
            headers = False
            
        if data["business_id"] in store_id_list_clean:
            writer.writerow(data)
        
print("No error")

No error

In [101]:
business_df = pd.read_csv( "/content/gdrive/My Drive/business_clean.csv")
business_df.shape

(28299, 3)

In [102]:
business_df.head()

              business_id                                 name  review_count
0  A98xW4qb7vOTguggHFs7Ng                    Hot Yoga Wellness             4
1  PZ-LZzSlhSe9utkQYU8pFg           Carluccio's Tivoli Gardens            40
2  dFMxzHygTy6F873843dHAA                       Fremont Arcade            38
3  1RHY4K3BD22FK7Cfftn8Mg                       Marathon Diner            35
4  tstimHoMcYbkSC4eBA1wEg  Maria's Mexican Restaurant & Bakery           184

In [103]:
store_name_list = []
for i in range(len(business_df)):
    tmp = business_df["name"].iloc[i]
    store_name_list.append(tmp)
len(store_name_list)

28299

In [104]:
store_id_list2 = []
for i in range(len(business_df)):
    tmp = business_df["business_id"].iloc[i]
    store_id_list2.append(tmp)
len(store_id_list2)

28299

## business_id 를 name 으로 바꾸기

In [92]:
review_df.head()

    user_id             business_id  stars
0      Chad  N2PlDjUJVfOJzsPzY0Au1w    3.0
1      Chad  WMj5Uj04pAqFxLMnJQcQqw    3.0
2   Margret  h6t-dQ1udLHs0ogBFAAPGw    3.0
3   Shannon  YF4QJ_j-PM7cMZja6K1MwQ    2.0
4  Jennifer  wuBGY61_1-udSHUrOkM82w    4.0

In [108]:
import time
import datetime
import json,csv

headers = True
filein = "/content/gdrive/My Drive/review.json"
fileout = "/content/gdrive/My Drive/review_top.csv"

with open(filein,encoding="UTF-8") as jsonf, open(fileout,"w") as csvf:
    for line in jsonf:
        data = json.loads(line)
        # 필요없는 key값삭제하면서 나중에 읽어올때, 시간 절약
        data.pop("review_id")
        data.pop("date")
        data.pop("text")
        data.pop("useful")
        data.pop("funny")
        data.pop("cool")
        
        
        if headers:
            keys = []
            for k,v in data.items():
                # key 값은 column 으로 value 는 값으로 저장
                keys.append(k)
            writer = csv.DictWriter(csvf,fieldnames=keys)
            writer.writeheader()
            headers = False
        
        # 많은 user 중 많이 rating 한 user 만 갖고오고    
        if data["user_id"] in user_id_list:
            
            # user_id 는 이름으로 바꿔라 (바이트수 절약위해)
            index_num = user_id_list.index(data["user_id"])
            data["user_id"] = user_name_list[index_num]
            
            # 마찬가지로 business_id 도 상점이름으로 바꿔라
            index_num2 = store_id_list2.index(data["business_id"])
            data["business_id"] = store_name_list[index_num2]
            writer.writerow(data)

print("success")

success

In [109]:
review_df = pd.read_csv( "/content/gdrive/My Drive/review_top.csv")
review_df.shape

(58015, 3)

In [110]:
review_df.head()

    user_id              business_id  stars
0      Chad  China King Super Buffet    3.0
1      Chad            Panda Express    3.0
2   Margret                      Gap    3.0
3   Shannon        Encore Beach Club    2.0
4  Jennifer               Wright Bar    4.0

잘 바뀐 것을 확인할 수 있다.

In [111]:
test_num = store_id_list2.index("N2PlDjUJVfOJzsPzY0Au1w")
store_name_list[test_num]

'China King Super Buffet'

In [113]:
review_df = review_df.rename(columns={'user_id':'user','business_id':'store'})
review_df.head()

       user                    store  stars
0      Chad  China King Super Buffet    3.0
1      Chad            Panda Express    3.0
2   Margret                      Gap    3.0
3   Shannon        Encore Beach Club    2.0
4  Jennifer               Wright Bar    4.0

In [0]:
ui_matrix = review_df.set_index(["user", "store"],append=True).unstack()
ui_matrix.shape