In [14]:
import json,csv
headers = True
def convert(filein,fileout):
    global headers 
    with open(filein,encoding='UTF-8') as jsonf, open(fileout,"w",encoding="UTF-8") as csvf:
        for line in jsonf:
            data = json.loads(line)
            
            data.pop("yelping_since")
            
            if headers:
                keys = []
                for k,v in data.items():
                    keys.append(k)
                writer = csv.DictWriter(csvf,fieldnames=keys)
                writer.writeheader()
                headers= False
            if data['review_count'] >=1457:
                writer.writerow(data)

In [15]:
convert("../dataset/user.json","../dataset/user.csv")

In [16]:
import pandas as pd

In [18]:
df = pd.read_csv("../dataset/user.csv")
df.head()

,user_id,name,review_count,useful,funny,cool,elite,friends,fans,average_stars,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,zzpgpo54-_P-4rzzBtOuLQ,Aurélie,1563,4172,1661,3246,"2013,2014,2016,2017,2018","8pzdMS8Mbppx9Xuf4ekCTA, Fcw-Rza7kEtavc_88t-BSg...",99,3.89,...,9,16,29,8,354,776,559,559,75,119
1,eSlOI3GhroEtcbaD_nFXJQ,Jason,2518,16349,8340,13924,"2012,2013,2014,2015,2016,2017,2018","emkgr9xghy66fU58fwnRgQ, _ahqZJFXDNpeiKROkIjGJg...",251,3.61,...,84,59,18,16,361,2861,2267,2267,274,218
2,U4INQZOPSUaj8hMjLlZ3KA,Michael,4308,22757,10209,16249,"2008,2010,2011,2012,2013,2014,2015","yqumc_CYlWeghZ5vM3Ilyw, mX84lBw8jwS2uQqdgKu_aA...",912,3.88,...,75,43,13,52,442,656,801,801,663,634
3,XkLK2iBsgqF6mWwDfRgqqQ,Seong,1525,4012,2862,3573,"2007,2008,2009,2010,2011,2012,2013,2014,2015,2016","2zoKsAEeFuBhEm8g5jhPsg, Y3QU8Jj3lYuVa2LmunvnRg...",124,3.75,...,75,56,207,23,557,497,1125,1125,139,43
4,lConjPFTZqz4zWELK_EJtw,Keila,2097,17430,9232,13626,"2010,2011,2012,2013,2014,2015","Aes5gG5F6JXPmIH9N4TX9w, AyxN-JsfGXJ-3RRz7BZYXg...",447,3.89,...,222,149,49,59,491,1634,1892,1892,873,1234

In [1]:
import os

In [3]:
os.path.exists("user.json")

False